/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}


header {
  text-align: center;
  margin: 25px;
  font-size: 175%
}

p {
  text-align: left;
  display: inline-block;
  font-size: 100%

}

.row {
  text-align: center;
}

.menuitem {
  border: 1px solid black;
  background-color: gray;
  display: inline-block;
  font-size: 125%;
}

.fooditem {
  border: 1px solid black;
  width: 50%;
  float: right;
  clear: left;
}

.chicken {
  background-color: #d59799;
}

.beef {
  background-color: #c24145;
}

.sushi {
  background-color: #e4d19b;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .menuitem {
    width: 30%;
    margin: 10px;
  }

  p {
    margin: 2px;
    padding: 10px;
    width: 95%
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .menuitem {
    height: 150px;
    margin: 5px;
    overflow: auto;
  }

  .menuitem.item-chicken {
    width: 45%;
    margin-right: 5px;
 }
  .menuitem.item-beef {
    width: 45%;
    margin-left: 5px;

  }
  .menuitem.item-chicken {
    width: 92%;

 }
  .sushi {
    width: 25%;
  }

  p {
    margin: 2px;
    padding: 10px;
    width: 95%
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .menuitem {
    width: 95%;
    margin: 10px;
  }

  p {
    margin: 2px;
    padding: 10px;
    width: 95%
  }
}
